<li class="list-group-item" [ngClass]="{'active': selectedProduct == product}"
(click)="onSelectProduct(product)" *ngFor="let product of productList">
<div class="row">
    <div class="col-sm-2">
        <div class="dropdown profile-element">
            <img *ngIf="product.thumbnailImage" class="img" alt="image"
                [src]="product.thumbnailImage">
        </div>
    </div>
    <div class="col-sm-8">
        <strong> {{ product.name }}</strong>
        <p class="small">
            {{product.description}}
        </p>
    </div>
    <div class="col-sm-2 delete-button">
        <button type="button" pButton icon="pi pi-times"
            (click)="onDelete($event,product.id)" class="ui-button-warning"
            label="Delete"></button>
    </div>
</div>
</li>
<li class="list-group-item" *ngIf="!productList.length">
<div class="row">
    <div class="col-sm-12">
        No Products
    </div>
</div>

</li>