.boarder-tr{
    border-color: red !important;
}

.ibox-content-grid {
    /* background-color: #ffffff; */
    background-color: unset !important;
    padding: 15px 0px 20px 0px !important;
}

.pad-9t{
    padding-top: 9% !important;
}

:host ::ng-deep .ui-dropdown {
    border: 1px solid #ced4da !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

