<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">

        <div class="col-md-6">

            <div class="ibox">
                <div class="ibox-title">
                    <app-product-filter [products]="productsArray" (addProduct)="onAddProduct()"
                        (searchProduct)="onFilteredProductsList($event)"></app-product-filter>
                </div>
                <div class="ibox-content-grid">
                    <!-- Grid Product -->
                    <ul class="list-group elements-list">
                        <app-product-item [productList]="filteredProductsArray" [selectedProduct]="selectedProduct" (changesSelectedProduct)="onSelectProduct($event)"
                        (deleteProduct)="onDeleteProduct($event)" ></app-product-item>

                       
                    </ul>

                </div>
            </div>

        </div>
        <div class="col-md-6">

            <div *ngIf="selectedProduct" class="ibox pad-9t">
                <div class="ibox-title">
                    <h5>{{selectedProduct.name}} Details</h5>
                </div>
                <div class="ibox-content">
                    <app-product-details [selectedProduct]="selectedProduct" (submittedProduct)="onSave($event)">
                    </app-product-details>
                </div>
            </div>

        </div>
    </div>
</div>